
<div class="container">
  <footer class="footer">

    <div class="footer-footer">
      <div class="flex-1">
        <img src="assets/images/navbar-img.svg" alt="image.svg" />
        <p class="p-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget est amet
          diam bibendum gravida ut morbi nibh. Eget tristique quis sed diam
          dignissim tellus nunc, sit netus. Montes, consequat sit fermentum, cursus
          metus mi malesuada eget. Ultrices varius mauris semper nulla mauris.
        </p>
      </div>
    
      <div class="links-container">
        <div class="flex-2">
          <p class="small-header">Vybecash</p>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#"> Explore</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
        </div>
    
        <div class="flex-2">
          <p class="small-header">Products</p>
          <ul>
            <li><a href="#">Digital Banking</a></li>
            <li><a href="#">Savings</a></li>
          </ul>
        </div>
    
        <div class="flex-2">
          <p class="small-header">Legal</p>
          <ul>
            <li><a href="#">Customer Terms of Use</a></li>
            <li><a href="#">Privacy Policies</a></li>
          </ul>
        </div>
      </div>
    
      <div class="flex-2-2">
        <p class="small-header">Get in touch</p>
        <div class="social-img">
          <img src="assets/images/linked-in.svg" alt="linked-in.svg" />
          <img src="assets/images/facebook.svg" alt="facebook.svg" />
          <img src="assets/images/twitter.svg" alt="twitter.svg" />
          <img src="assets/images/instagram.svg" alt="instagram.svg" />
        </div>
        <p class="small-header">Contact Us</p>
        <a href="#"> Hello@vybecash.com</a>
      </div>
    </div>
    
  
    <div class="google-play-img">
      <img src="assets/images/google-play.svg" alt="google-play-img" />
      <img src="assets/images/app-store.svg" alt="app-store-img" />
    </div>
  
    <hr>
  
    <div class="reserved">
  
      <div class="copyright-img">
        <img src="assets/images/copy.svg" alt="copy.svg"> 
      </div>
      
      <p>Copyright 2022 All Rights Reserved </p>
    </div>
  </footer>
</div>

