<div class="container">
  <p class="text-1">We shape how you spend your money</p>
  <div class="texts">
    <p class="text-2">
      Vybecash financial tools helps you develop a good saving culture, become
      penny wise and ease the stress of transaction while you steadily grow your
      finance freedom.
    </p>
  </div>

  <div class="three-parts">
    <div class="lets-see">
      <img src="assets/images/profile-add.svg" alt="profile-add.svg" />
      <h4 class="first-text">Create an account <span>01</span></h4>
      <p class="second-text">
        Create an account with your email and phone number to get started.
      </p>
    </div>

    <div class="lets-see">
      <img src="assets/images/task.svg" alt="task.svg" />
      <h4 class="first-text">Select a service <span>02</span></h4>
      <p class="second-text">
        Use any of our digital banking services and saving plan provided just
        for you.
      </p>
    </div>

    <div class="lets-see">
      <img src="assets/images/magic.svg" alt="magic.svg" />
      <h4 class="first-text">Enjoy financial freedom <span>03</span></h4>
      <p class="second-text">
        Watch Vybecash take you on a cruise to financial freedom.
      </p>
    </div>
  </div>
</div>
