
<div class="landing">
    <div class="landing-landing">
      <div class="header">
        Let Vybecash take you on a cruise to financial freedom
      </div>

      <div class="sub-header">
        <p>
          Upgrade your lifestyle with VybeCash. Choose ease, choose VybeCash.
        </p>
      </div>
      <div class=" barcode-row">
        <div class=" barcode-text">Scan to download vybecash app</div>
        <div class="barcode">
          <img src="assets/images/barcode.svg" alt="barcode" />
        </div>
      </div>

      <div class="google-play-img">
        <img src="assets/images/google-play.svg" alt="google-play-img" />
        <img src="assets/images/app-store.svg" alt="app-store-img" />
      </div>

    </div>
    <div>
      <img class="img-sizing" src="assets/images/male-female.svg" alt="female-male-img" />

    </div>

  </div>
