<div class="financial-security">
  <div class=" container content">
    <div class="male-image">
      <img class="male-img" src="assets/images/male-img.svg" alt="male-img.svg" />
    </div>

    <div class="texts">
      <div class="text-text">
        <p class="text-1">
          Join the Vybecash community and start connecting, investing and
          growing wealth .
        </p>

        <p class="text-2">
          We are committed to enabling you desire to achieve financial security.
        </p>
      </div>

      <div class="google-play-img">
        <img src="assets/images/google-play.svg" alt="google-play-img" />
        <img src="assets/images/app-store.svg" alt="app-store-img" />
      </div>
    </div>
  </div>
</div>
