<div class="content-container">
  <div class="content">
    <div class="texts">
      <div class="text-text">
        <p class="text">Digital Bankings</p>
        <span class="text-2">Carry out transactions on the go. </span>
      </div>

      <div class="banking">
        <div class="wish">
          <img
            class="license-img-img"
            src="assets/images/naira-green.svg"
            alt="naira-green.svg"
          />
    
          <div class="wish-texts">
            <p class="wish-text-1">
              <img
            class="license-img"
            src="assets/images/naira-green.svg"
            alt="naira-green.svg"
          />
  
              Easy & Free transfers</p>
            <p class="wish-text-2">Instant money transfer to any bank</p>
          </div>
        </div>
    
        <div class="wish">
          <img
            class="license-img-img"
            src="assets/images/naira-pink.svg"
            alt="naira-pink.svg"
          />
    
          <div class="wish-texts">
            <p class="wish-text-1">
              <img
            class="license-img"
            src="assets/images/naira-pink.svg"
            alt="naira-pink.svg"
          />
  
              Airtime Purchase</p>
            <p class="wish-text-2">
              Get instant airtime top-up and data purchase with no hassles
            </p>
          </div>
        </div>
    
        <div class="wish">
          <img
            class="license-img-img"
            src="assets/images/naira-yellow.svg"
            alt="naira-pink.svg"
          />
    
          <div class="wish-texts">
            <p class="wish-text-1">
              <img
              class="license-img"
              src="assets/images/naira-yellow.svg"
              alt="naira-pink.svg"
            />
  
              Bills Payment
            </p>
            <p class="wish-text-2">
                Paying your bills has never been. Choose ease choose vybecash
            </p>
          </div>
        </div>
      </div>

      <button class="button">Create Your Account</button>
    </div>

    <div class="phone-img">
      <img src="assets/images/iphone-img-2.svg" alt="iphone-img" />
    </div>
  </div>
</div>
