<div class="container">
  <div class="header-header">
    <app-navbar></app-navbar>
    <app-landing></app-landing>
  </div>
  

  <app-savings></app-savings>
  <app-digital-banking></app-digital-banking>
  <app-create-select-enjoy></app-create-select-enjoy>
  <app-financial-needs></app-financial-needs>
</div>
  <app-financial-security></app-financial-security>
  <app-footer></app-footer>

<!-- <div class="roww">
    <div class="coll">

      <div class="header">
        Let Vybecash take you on a cruise to financial freedom
      </div>

      <div class="sub-header">
        <p>
          Upgrade your lifestyle with VybeCash. Choose ease, choose VybeCash.
        </p>
      </div>


      <div class=" barcode-row">
        <div class=" barcode-text">Scan to download vybecash app</div>
        <div class="barcode">
          <img src="assets/images/barcode.svg" alt="barcode" />
        </div>
      </div>
      
      <div class="google-play-img">
          <img src="assets/images/google-play.svg" alt="google-play-img" />
          <img src="assets/images/app-store.svg" alt="app-store-img" />
      </div>
    </div>

    <div class="female-male-img">
      <img class="img-fluid" src="assets/images/male-female.svg" alt="female-male-img" />
    </div> 
  </div> -->
