<div class="row-general">
  <div class="top">
    <div class="top-text">
      <h1 class="text">One app. Many possibilities</h1>
      <p class="text-2">
        Cutting edge financial tools that enables you to manage your mutiple
        financal needs.
      </p>
    </div>

    <div class="license-container">
      <div class="license">
        <img
          class="license-img-img"
          src="assets/images/U.S. Securities and Exchange Commission Logo.svg"
          alt="U.S. Securities and Exchange Commission Logo"
        />

        <div class="license-texts">
          <p class="license-text">
            <img
          class="license-img"
          src="assets/images/U.S. Securities and Exchange Commission Logo.svg"
          alt="U.S. Securities and Exchange Commission Logo"
        />
            
            Licensed by the SEC</p>
          <p class="license-text-1">Fund Manager</p>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="phone-img">
      <img src="assets/images/iphone-img.svg" alt="iphone-img" />
    </div>
    <div class="savings">
      <div>
        <div class="texts">
          <p class="text">Savings</p>
          <span class="text-2">Save for the lifestyle you desire. </span>
        </div>
      </div>


      <div class="wish">
        <img
          class="license-img-img"
          src="assets/images/naira-pink.svg"
          alt="naira-pink.svg"
        />

        <div class="wish-texts">
          <p class="wish-text-1">
            <img
              class="license-img "
              src="assets/images/naira-pink.svg"
              alt="naira-pink.svg"
            />
            Wish
          </p>
          <p class="wish-text-2">Save towards making your wish come true</p>
        </div>
      </div>

      <div class="wish">
        <img
          class="license-img-img"
          src="assets/images/naira-green.svg"
          alt="naira-pink.svg"
        />

        <div class="wish-texts">
          <p class="wish-text-1">

            <img
              class="license-img "
              src="assets/images/naira-green.svg"
              alt="naira-pink.svg"
            />
            Tribe <span class="coming-soon">Coming Soon</span>
          </p>
          <p class="wish-text-2">
            Why do it alone when we can grow together. Join the Vybe Tribe.
          </p>
        </div>
      </div>

      <div class="wish">
        <img
          class="license-img-img"
          src="assets/images/naira-yellow.svg"
          alt="naira-pink.svg"
        />

        <div class="wish-texts">
          <p class="wish-text-1">

            <img
              class="license-img "
              src="assets/images/naira-yellow.svg"
              alt="naira-pink.svg"
            />
            Vault <span class="coming-soon">Coming Soon</span>
          </p>
          <p class="wish-text-2">
            Set money aside for the rainy days and earn interest while at it.
            Secure your lifestyle with vybecash vault.
          </p>
        </div>
      </div>

      <div class="wish">
        <img
          class="license-img-img"
          src="assets/images/naira-blue.svg"
          alt="naira-pink.svg"
        />

        <div class="wish-texts">
          <p class="wish-text-1">

            <img
              class="license-img "
              src="assets/images/naira-blue.svg"
              alt="naira-pink.svg"
            />
            Fundraising <span class="coming-soon">Coming Soon</span>
          </p>
          <p class="wish-text-2">
            Raise funds for projects that matter to you.
          </p>
        </div>
      </div>

      <div class="button-class">
        <button class="button">Create Your Account</button>
      </div>
    </div>
  </div>
</div>
