
 

<div class="outer-container">
  <video id="player" src="assets/taoma.mp4" #video ></video>
  <div class="overlay">
    <div class="overlay-icon" #overlay_play (click)="playPauseFunc()">
      <img src="assets/images/play-video.svg" alt="play-video.svg" />
    </div>

    <div class="overlay-text" #overlay_text>
      <p class="watch">Watch video</p>
      <p class="text">
       <span>"</span> We have created one super app where all your financial needs can be
        satisfied. <span>"</span> 
      </p>
    </div>
  </div>
</div>
